.blogroll-box {
  display: flex;
  flex-wrap: wrap;
}

.blogroll {
  height: 100px;
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 32px;
  width: 380px;
}

.blogroll:hover {
  cursor: pointer;
  filter: contrast(80%) brightness(1.2);
}

.blogroll:hover .blog {
  opacity: 90%;
}

.blogroll:hover .bio {
  opacity: 90%;
}

.blogroll .avatar {
  float: left;
  border-radius: 8.5%;
  width: 90px;
  height: 90px;
  margin-right: 15px;
}

.blogroll .blog {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.blogroll .bio {
  font-size: 15px;
  margin-top: 5px;
}
